<!-- Describe task in general -->

<p>
    你有一个只由数字组成的字符串。你需要找出在给定字符串的开头有多少个零位数（"0"）。
</p>

<!-- Explain input and output values -->
<p>
   <strong>输入：</strong>一个字符串 <span>{% if is_js %}(string){% else %}(str){% endif %}</span>，由数字组成。
</p>

<p>
   <strong>输出：</strong>一个整数 <span>{% if is_js %}(number){% else %}(int){% endif %}</span>. 
</p>


<!-- Give some usage examples -->
<div class="for_info_only">
    <p>
        <strong>例子：</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>
<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<p>
    <strong>前提条件：</strong>
    <i>0-9</i>
</p>
