<!-- Describe task in general -->
<img src="{{MEDIA_CONVERT}}title.png" class="title_img" />
<p>
    Vous disposez d'une chaîne de caractères composée uniquement de chiffres. Vous devez trouver combien de chiffres zéro ("0") se trouvent au début de la chaîne donnée.
</p>

<!-- Explain input and output values -->
<p>
   <strong>Entrée:</strong> Une <span>chaîne de caractères</span> <span>(string)</span>, composée de chiffres.
</p>

<p>
   <strong>Résultat:</strong> Un {% if is_js %}<span>nombre</span> <span>(number)</span>{% else %}<span>entier</span> <span>(integer)</span>{% endif %}. 
</p>


<!-- Give some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Exemples:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>
<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<p>
    <strong>Condition préalable:</strong>
    <i>0-9</i>
</p>
